@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@300;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700;800&family=Space+Mono&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2B2B2B;
  font-family: 'Open Sans', sans-serif;


}
:root {
  --background-color:#2B2B2B;
  --purple-color:#A259FF;
  --secondary-color:#3B3B3B;
  --heading-font:clamp(2.2rem , 3vw , 4rem);
  --para-font: clamp(1rem, 1.5vw, 2rem)
}
.container {
  width: 70%;
  margin: auto;
  margin-top: 10%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p,h1,h2,h3 {
  margin: 0;
  padding: 0;
}

.lg-text {
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 55px;
line-height: 110%;
}

.btn-hoverr:hover {
  box-shadow: 0 0px 15px rgba(247, 239, 239, 0.1);
  border-radius: 20px;
  transform: translateY(-0.2rem);
  border: 1px solid rgb(241, 112, 235);
}

.hoverr:hover {
  opacity: 85%;
  box-shadow: 0 0px 15px rgba(247, 239, 239, 0.1);
    transform: translateY(-0.5rem)
}

.heading {
margin-top: 5%;
font-style: normal;
font-weight: 600;
line-height: 120%;
color: white;
font-size: clamp(1.3rem, 3vw , 3.2rem);
}
.sub-heading {
margin-top: 15px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: clamp(1rem, 2vw , 1.3rem);
line-height: 160%;
text-transform: capitalize;
color: #FFFFFF;
}
.sub-heading1 {
  margin-top: 15px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  font-size:  clamp(1.1rem, 1.3vw , 1.4rem);
  line-height: 160%;
  text-transform: capitalize;
  color: #FFFFFF;
  }
  
  .btn-font {
    color: white;
    font-weight: 600;
    font-size: clamp(0.8rem , 1vw , 0.9rem);
    line-height: 140%;
  }